pesquisa {
    width: 300px;
    height: 100px;
    font-size: 130%;
    border-width: 0px;
    border-radius: 6px 0px 0px 6px;
}

button {
    width: 30px;
    font-size: 115%;
    padding: 10px;
    border-width: 0px;
    border-radius: 0px 6px 6px 0px;
    margin-left: -4px;
    background-color: #337ab7;
    position: relative;
    cursor: pointer;
    color: white;
}